#board{
  border-collapse:collapse
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    height:670px;
    background-color: #f1f1f1;
    float:left
}
li{
    display: block;
    height:50%;
    text-align: center;
}
#board td{
  width: 25px;
  height: 25px;
}
.explored{
  background-image:url('sand.png')
}
.unexplored{
  background-image:url('lightGrass.png')
}
.unexplored.mud{
  background-image:url('mud.png')
}
.unexplored.water{
  background-image:url('water.png')
}
.wall{
  background-image:url('grassImage.png')
}
.finalCell{
  /*background-image:url('character.png')*/
  background: black
}
.startingCell{
  background-image:url('character.png')

}
.shortestPath{
  background:white
}
button{
  display:block;
  width:100%;
  height:13%;
}
.buttonGroup{
  height:100%
}
.settingsGroup{
  height:50%
}
