#board{
  border-collapse:collapse
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    height:670px;
    background-color: #f1f1f1;
    float:left
}
li{
    display: block;
    height:50%;
    text-align: center;
}
#board td{
  width: 12px;
  height: 12px;
}
.explored{
    border:1px;
  border-style: solid;
  border-color: darkslategray;
  background:darkmagenta
}
.unexplored{
  border:1px;
  border-style: solid;
  border-color: darkslategray;
  background: white

}
.unexplored.mud{
  background-image:url('mud.png')
}
.unexplored.water{
  background-image:url('water.png')
}
.wall{
  background:darkslategray
}
.finalCell{
  /*background-image:url('character.png')*/
  background: black
}
.startingCell{
  background:yellow

}
.shortestPath{
  background:orangered
}
button{
  display:block;
  width:100%;
  height:13%;
}
.buttonGroup{
  height:100%
}
.settingsGroup{
  height:50%
}
