#board{
  border-collapse:collapse
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    height:670px;
    background-color: #f1f1f1;
    float:left
}
li{
    display: block;
    height:50%;
    text-align: center;
}
#board td{
  border: 1px solid darkslategrey;
  width: 25px;
  height: 25px;
}
.explored{
  background:blue
}
.unexplored{
  background:white
}
.wall{
  background:darkslategrey;
}
.finalCell{
  background:black
}
.startingCell{
  background:green
}
.shortestPath{
  background:yellow
}
button{
  display:block;
  width:100%;
  height:13%;
}
.buttonGroup{
  height:100%
}
.settingsGroup{
  height:50%
}
